<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete yjfwxcwxf idc0_350" lang="en">
	<head>
		{% load static %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/pong_theme.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<title>ft_transcendence</title>
	</head>
	<body>
		{% include 'navbar.html' %}
		<div id="index-content">
			<canvas id="myCanvas"></canvas>
		</div>
		<div id="signin-content" class="hidden">
		</div>
	</body>
	<script src="{% static 'scripts.js'  %}"></script>
	<script src="{% static 'game/pong.js'  %}"></script>
</html>
