{% load static %}
<div id ="navbar" class="off-screen-menu">
	<ul>
		<li><div id="profilePictureContainer"></div></li>
		<li><div id="loginHeading" class="fs-5 fw-semibold" style="color:white;"></div></li>
		<li><a href="#" id="homeButton">Home</a></li>
		{% if user.is_authenticated %}
			<li><a href="#" class="profileButton">My Profile</a></li>
		{% endif %}
		<li><a class="button loginButton" href="#">Login</a></li>
	</ul>
</div>

<nav>
	<div class="logo-container">
		<a href="#"><img class="logo" src="{% static 'images/logo.png' %}"></a>
	</div>
	<div class="ham-menu">
		<span></span>
		<span></span>
		<span></span>
	</div>
</nav>
