{% load static %}
<script type="module" src="../web_components/notification_dropdown.js"></script>
<nav>
	<div class="logo-container">
		<a><img class="logo" src="{% static 'images/logo.png' %}"></a>
	</div>
	<div id="notificationDropdown" class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Notifications
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		</div>
	</div>
	<notification-dropdown-element></notification-dropdown-element>
	<div class="ham-menu">
		<span></span>
		<span></span>
		<span></span>
	</div>
</nav>
