<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OAuth Callback</title>
</head>
<body>
    <script>
        (function() {
            function setCookie(name, value, minutes) {
                const date = new Date();
                date.setTime(date.getTime() + (minutes * 60 * 1000));
                const expires = "expires=" + date.toUTCString();
                document.cookie = name + "=" + value + ";" + expires + ";path=/";
            }

            const error = "{{ error|escapejs }}";
            const oauth_id = "{{ oauth_id|escapejs }}";
            const email = "{{ email|escapejs }}";
            const profile_picture = "{{ profile_picture|escapejs }}";
            const would_be_username = "{{ would_be_username|escapejs }}";

            if (error === 'Username taken') {
                setCookie('oauth_message', JSON.stringify({
                    type: 'username_taken',
                    oauth_id: oauth_id,
                    email: email,
                    profile_picture: profile_picture,
                    would_be_username: would_be_username
                }), 5);
                window.alert('if')
            } else {
                setCookie('oauth_message', JSON.stringify({
                    type: 'oauth_success'
                }), 5);
                console.log('succ');
            }
            //window.close();
            //document.write('<p>You can close this window now.</p>');
            window.location.replace('https://made-f0Cr8s2:4343/');
        })();
    </script>
</body>
</html>
