<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OAuth Callback</title>
</head>
<body>
    <script>
        (function() {
            const error = "{{ error|escapejs }}";
            const oauth_id = "{{ oauth_id|escapejs }}";
            const email = "{{ email|escapejs }}";
            const profile_picture = "{{ profile_picture|escapejs }}";

            if (error === 'Username taken') {
                localStorage.setItem('oauth_message', JSON.stringify({
                    type: 'username_taken',
                    oauth_id: oauth_id,
                    email: email,
                    profile_picture: profile_picture
                }));
            } else {
                localStorage.setItem('oauth_message', JSON.stringify({
                    type: 'oauth_success'
                }));
                console.log('succ')
            }
           // window.close();
        })();
    </script>
</body>
</html>
